@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Oswald";
    src: url("../../public/fonts/Oswald-VariableFont_wght.ttf");
}

h1, h6, h2 {
    font-family: "Oswald";
}
